.ui.container
  .ui.fluid.input.huge.header.vertical.basic.segment
    input(placeholder="Name your project...")

  .ui.two.stackable.columns.grid
    .ten.wide.column
      .ui.header Project Type
      .ui.buttons
        .ui.icon.button
          i.ui.idea.icon
          | Collaborate
        .ui.icon.button
          i.ui.gift.icon
          | Barter
        .ui.icon.button
          i.ui.dollar.icon
          | Bounty
      +if bounty
        .ui.labeled.input
          .ui.label $
          input(type="text", placeholder="Bounty")
    .six.wide.column
      .ui.header Submission Deadline

  .ui.header Description
  .ui.segment
    // quill

  .ui.header Media
  .ui.icon.button
    i.ui.icon.green.plus
  button.ui.button.primary Submit Project
