.ui.container
  +autoForm schema='db.Schemas.Project' type="method" meteormethod="insertProject" id='newProject'
    +afQuickField name='name'
    +afQuickField name='submissionDate' value=defaultSubmissionDate
    +afQuickField name='projectType' options=typeOptions
    +if afFieldValueIs name='projectType' value='bounty'
      +afQuickField name='bounty'
    +afQuickField name='description'
    +afQuickField name='media'
    +afQuickField name='creativeCategory'
    div
      .ui.button.primary(onclick='{{submitProject}}') Submit Project