.ui.inverted.vertical.segment
  .ui.container
    h1 {{project.name}}
    +if isParticipate
      h4 Submission Due {{daysAwayPretty}}
      a.ui.inverted.primary.button(href='/project/{{project._id}}/submit') Participate
    +else
      h4 Submission Past {{daysAwayPretty}}
    .ui.vertical.segment
      .ui.inverted.secondary.pointing.menu
        a.item(href='/project/{{project._id}}/details', class='{{isSubPageActive "details"}}') Details
        a.item(href='/project/{{project._id}}/submissions', class='{{isSubPageActive "submissions"}}') Submissions
        a.item(href='/project/{{project._id}}/comments', class='{{isSubPageActive "comments"}}') Comments
.ui.vertical.segment.container
  +if isSubPage 'details'
    +details id=project._id
  +if isSubPage 'submissions'
    .ui.cards
      +each submissions
        +with prettifySubmission this
          .ui.card
            iframe(src="{{embedUrl}}", webkitallowfullscreen, mozallowfullscreen, allowfullscreen, frameborder="0")
            a.content
              i.right.floated.like.icon(class="{{isLiked}}" onclick="{{likeSubmission}}")
              .header Submission Name
              .meta {{prettyDate createdAt}}
              .description {{shortDescription}}
  +if isSubPage 'comments'
    +comments id=project._id